body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: 0ch;
    width: 200px;
    height: 80px;
    text-transform: uppercase;
    background-color: blue;
    color: white;
    letter-spacing: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: 1s;
}
button:hover{
    border-radius: 50px;
    background-color: black
}
