h1{
    color: black;
    background-color: gray;
    text-align: center;
    height: 100px;
    font-size: 50px
}
#doan1{font-size: 20px;background-color:gray ;color: white}
#doan2{font-size: 20px;background-color:gray ;color: white}
#doan3{font-size: 20px;background-color:gray ;color: white}
h2{
    background-color: gray
}
#anh1{height: 300px;width: 500px;
    text-align: center
}
header{padding: 100px}
footer{padding: 100px; font-size: 30px; background-color: gray}
body{max-width: 960px;}




    